# Entorno virtual (la carpeta que creaste)
env/
venv/
ENV/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local (si usas SQLite)
*.sqlite3
*.db

# Archivos de configuración de VS Code
.vscode/

# Variables de entorno (donde suelen ir las contraseñas)
.env