{% extends "base.html" %}

{% block content %}
<div class="background"></div>

<h1 class="campus-title-top">Panel de Control</h1>

<div class="gestion-container">
    
    <div class="tabla-card">
        <h3>Usuarios Registrados 👥</h3>
        <table class="tabla-estilizada">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for u in lista_usuarios %}
                <tr>
                    <td>{{ u.nombre }}</td>
                    <td>{{ u.mail }}</td>
                    <td>{{ u.rol }}</td>
                    <td>
                        <a href="{{ url_for('eliminar_usuario', id=u.id_user) }}" 
                           class="btn-borrar"
                           onclick="return confirm('¿Eliminar a {{ u.nombre }}?')">
                           🗑️ Borrar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tabla-card">
        <h3>Gestión de Asignaturas 📖</h3>
        <table class="tabla-estilizada">
            <thead>
                <tr>
                    <th>Asignatura</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for a in lista_asignaturas %}
                <tr>
                    <td>{{ a.nombre_asig }}</td>
                    <td>
                        <a href="{{ url_for('eliminar_asignatura', id=a.id_asig) }}" class="btn-borrar">
                            🗑️ Quitar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="text-align: center;">
        <a href="{{ url_for('perfil') }}" class="btn-panel" style="background: #4b30e6; text-decoration: none; display: inline-block; width: auto; padding: 12px 40px;">
            ← Volver al Perfil
        </a>
    </div>
</div>
{% endblock %}