{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="perfil-layout">
    
    <div class="col-datos">
        {% if session['rol'] == 'administrador' %}
        <div class="admin-top-bar">
            <a href="{{ url_for('registrar_usuario') }}" class="btn-panel">➕ Registro</a>
            <a href="{{ url_for('gestion_usuarios') }}" class="btn-panel btn-gestion">👥 Gestión</a>
        </div>
        {% endif %}

<div class="perfil-grid">
    <div class="user-card">
        <div class="avatar">👤</div>
        <h2 style="color: black;">Bienvenida, {{ usuario }}</h2>
        <p><strong>Correo:</strong> {{ email }}</p>
        <p><strong>Rol:</strong> {{ rol }}</p>
        <a href="{{ url_for('logout') }}" class="btn-back">Cerrar Sesión</a>
    </div>
    
    <div class="extras-column">
        </div>
</div>
{% endblock %}
